<h1 class="text-center" style="margin-top:50px">BAR</h1><hr>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Mese deschise">
        <div style="width: 80%; margin:auto; padding: 50px;">
            <mat-accordion >
                <div *ngIf="openTables.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista mese deschise!</h1></div>
                <mat-expansion-panel  *ngFor="let table of openTables">
                  <mat-expansion-panel-header style="background-color: rgba(0, 176, 47, 0.3);">
                    <mat-panel-title>
                        <h3>Masa: {{table.name}}</h3><hr>
                    </mat-panel-title>
                    <mat-panel-description>
                        <p>Data: {{table.created}}</p>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <br>
                  <p>Detalii: {{table.description}}</p>
                  <p>Codul mesei: <b>{{table.tableRandomCode}}</b></p>
                  <br>
                  <button class="btn btn-success" (click)="closeTable(table.id)" >Finalizare comanda</button>
                  <div *ngIf="loaded == true">
                      <div *ngIf="table.orders.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista comenzi!</h1></div>
                      <div *ngFor="let order of table.orders" >
                          <div *ngIf="order.status == 'closed'" style="border-radius: 5px;background-color: rgba(252, 69, 3, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                              <h3>Comanda: {{order.title}}</h3><hr>
                              <p>Descriere: {{order.description}}</p>
                              <p>Data: {{order.created}}</p>
                              <p>Pret total: {{order.price}}</p>
                              <div>
                                  <h3>Produse comandate:</h3><hr>
                                  <div *ngFor="let orderedProduct of order.orderedProducts">
                                      <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                                  </div>
                                  <br>
                              </div>
                          </div>
                          <div *ngIf="order.status == 'open'" style="border-radius: 5px;background-color: rgba(0, 176, 47, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                              <h3>Comanda: {{order.title}}</h3><hr>
                              <p>Descriere: {{order.description}}</p>
                              <p>Data: {{order.created}}</p>
                              <div>
                                  <h3>Produse comandate:</h3><hr>
                                  <div *ngFor="let orderedProduct of order.orderedProducts">
                                      <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                                  </div>
                                  <br>
                              </div>
                              <button class="btn btn-success" (click)="closeOrder(order.id)" >Finalizare comanda</button>
                          </div>
                      </div>
                  </div>
                </mat-expansion-panel>
                
              </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab label="Mese inchise">
        <div style="width: 80%; margin:auto; padding: 50px">
            <mat-accordion >
                <div *ngIf="closedTables.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista mese inchise!</h1></div>
                <mat-expansion-panel  *ngFor="let table of closedTables">
                  <mat-expansion-panel-header style="background-color: rgba(252, 69, 3, 0.3);">
                    <mat-panel-title>
                        <h3>Masa: {{table.name}}</h3><hr>
                    </mat-panel-title>
                    <mat-panel-description>
                     <p>Data: {{table.created}}</p>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Detalii: {{table.description}}</p>
                  <p>Codul mesei: <b>{{table.tableRandomCode}}</b></p>
                  <div *ngIf="loaded == true">
                      <div *ngIf="table.orders.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu comenzi!</h1></div>
                      <div *ngFor="let order of table.orders" >
                          <div *ngIf="order.status == 'closed'" style="border-radius: 5px;background-color: rgba(252, 69, 3, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                              <h3>Comanda: {{order.title}}</h3><hr>
                              <p>Descriere: {{order.description}}</p>
                              <p>Data: {{order.created}}</p>
                              <div>
                                  <h3>Produse comandate:</h3><hr>
                                  <div *ngFor="let orderedProduct of order.orderedProducts">
                                      <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                                  </div>
                                  <br>
                              </div>
                          </div>
                          <div *ngIf="order.status == 'open'" style="border-radius: 5px;background-color: rgba(0, 176, 47, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                              <h3>Comanda: {{order.title}}</h3><hr>
                              <p>Descriere: {{order.description}}</p>
                              <p>Data: {{order.created}}</p>
                              <div>
                                  <h3>Produse comandate:</h3><hr>
                                  <div *ngFor="let orderedProduct of order.orderedProducts">
                                      <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                                  </div>
                                  <br>
                              </div>
                              <button class="btn btn-success" (click)="closeOrder(order.id)" >Finalizare comanda</button>
                          </div>
                      </div>
                  </div>
                </mat-expansion-panel>
                
              </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab label="Masa noua">
        <div class="container">
            <br>
              <h1>Masa noua</h1><hr>
              <br>
              <form (ngSubmit)="onSubmitNewTable()" #heroForm="ngForm">
                <div class="form-group">
                  <label for="tableName">Name</label>
                  <input type="text" class="form-control" id="tableName"
                         required
                         [(ngModel)]="newTable.name" name="tableName"
                         #name="ngModel">
                  <div [hidden]="name.valid || name.pristine"
                       class="alert alert-danger">
                    Acest camp este obligatoriu!
                  </div>
                </div>
          
                <div class="form-group">
                    <label for="tableDescription">Description</label>
                    <input type="text" class="form-control" id="tableDescription"
                           required
                           [(ngModel)]="newTable.description" name="tableDescription"
                           #name="ngModel">
                  </div>

          
                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
              </form>
            </div>
    </mat-tab>
  </mat-tab-group>


