<h1 class="text-center" style="margin-top:50px">CLIENT</h1><hr>


<div *ngIf="tableLoaded == false">
    <div style="margin: auto; width: 40%;">
        <h2>Cod masa:</h2>
        <input type="text" id="tableRandomCode" name="tableRandomCode" style="width:100%;"  [(ngModel)]="tableRandomCode"><br><br>
        <button type="button" class="btn btn-primary" (click)="submitRandomCode()">Cauta</button>
    </div>
</div>


<div *ngIf="tableLoaded == true">
    
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Detalii masa">
            <div>
                <div *ngIf="table.orders.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista comenzi!</h1></div>
                <div *ngFor="let order of table.orders" >
                    <div *ngIf="order.status == 'closed'" style="border-radius: 5px;background-color: rgba(252, 69, 3, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                        <h3>Comanda: {{order.title}}</h3><hr>
                        <p>Descriere: {{order.description}}</p>
                        <p>Data: {{order.created}}</p>
                        <div>
                            <h3>Produse comandate:</h3><hr>
                            <div *ngFor="let orderedProduct of order.orderedProducts">
                                <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div *ngIf="order.status == 'open'" style="border-radius: 5px;background-color: rgba(0, 176, 47, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                        <h3>Comanda: {{order.title}}</h3><hr>
                        <p>Descriere: {{order.description}}</p>
                        <p>Data: {{order.created}}</p>
                        <div>
                            <h3>Produse comandate:</h3><hr>
                            <div *ngFor="let orderedProduct of order.orderedProducts">
                                <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
    </mat-tab>
    <mat-tab label="Comanda noua">
        <div class="container">
            <br>
              <h1>Masa noua</h1><hr>
              <br>
              <div>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Denumire</th>
                        <th>Pret</th>
                        <th>Actiuni</th>
                      </tr>
                    </thead>
                    <tbody>
                      <h2 class="text-center" *ngIf="addedProducts.length <= 0">Nu exista produse selectate.</h2>
                      <tr *ngFor="let orderedProduct of addedProducts">
                        <td>{{orderedProduct.id}}</td>
                        <td>{{orderedProduct.name}}</td>
                        <td>{{orderedProduct.price}}</td>
                        <td><button class="btn btn-danger" (click)="removeProductFromList(orderedProduct)">Sterge</button></td>
                      </tr>
                      <tr >
                        <td></td>
                        <td></td>
                        <td>{{totalPrice}}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <form (ngSubmit)="submitNewOrder()" #heroForm="ngForm">
                <div class="form-group">
                  <label for="name">Titlu</label>
                  <input type="text" class="form-control" id="title"
                         required
                         [(ngModel)]="newOrder.title" name="title"
                         #name="ngModel">
                  <div [hidden]="name.valid || name.pristine"
                       class="alert alert-danger">
                    Acest camp este obligatoriu!
                  </div>
                </div>
          
                <div class="form-group">
                    <label for="name">Descriere</label>
                    <input type="text" class="form-control" id="description"
                           required
                           [(ngModel)]="newOrder.description" name="description"
                           #name="ngModel">
                  </div>

          
                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
              </form>

              <div><br><hr><br>
                <h2>Lista produse:</h2><br>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Denumire</th>
                        <th>Pret</th>
                        <th>Actiuni</th>
                      </tr>
                    </thead>
                    <tbody>
                      <h2 class="text-center" *ngIf="products.length <= 0">Nu exista produse disponibile.</h2>
                      <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td><button class="btn btn-primary" (click)="addProductInList(product)">Adauga</button></td>
                      </tr>
                    </tbody>
                  </table>
              </div>

            </div>
    </mat-tab>
  </mat-tab-group>


</div>
