<h1 class="text-center" style="margin-top:50px">BUCATARIE</h1><hr>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Comenzi in lucru">
        <div *ngIf="loaded == true">
            <div *ngIf="openOrders.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista comenzi noi!</h1></div>
            <div *ngFor="let order of openOrders" style="border-radius: 5px;background-color: rgba(0, 176, 47, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                <h3>Comanda: {{order.title}}</h3><hr>
                <p>Descriere: {{order.description}}</p>
                <p>Data: {{order.created}}</p>
                <div>
                    <h3>Produse comandate:</h3><hr>
                    <div *ngFor="let orderedProduct of order.orderedProducts">
                        <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                    </div>
                    <br>
                </div>
                <button class="btn btn-success" (click)="closeOrder(order.id)" >Finalizare comanda</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Comenzi inchise">
        <div *ngIf="loaded == true">
            <div *ngIf="closedOrders.length <= 0"><h1 class="text-center" style="margin-top: 50px;">Nu exista comenzi incheiate!</h1></div>
            <div *ngFor="let order of closedOrders" style="border-radius: 5px;background-color: rgba(252, 69, 3, 0.3);width: 80%;margin: auto;padding: 15px;margin-top: 20px;">
                <h3>Comanda: {{order.title}}</h3><hr>
                <p>Descriere: {{order.description}}</p>
                <p>Data: {{order.created}}</p>
                <div>
                    <h3>Produse comandate:</h3><hr>
        
                    <div *ngFor="let orderedProduct of order.orderedProducts">
                        <h5>{{orderedProduct.product.name}} - {{orderedProduct.product.description}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
  </mat-tab-group>


